.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0;
  list-style: none;
}

.card {
  flex: 1 1 300px;
  font-size: 1.2rem;
  max-width: 350px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
}

.summary-stats p,
.misc-stats p {
  font-size: 1.4rem;
  line-height: 1.6;
}

.summary-stats,
.misc-stats,
.cards-stats {
  margin-bottom: 2.5rem;
}